page-home {
    .col { padding: 0px !important; }
    .card-content-md { padding: 10px; }
    .list-md {
        .list-header-md {
            margin-bottom: 0px;
            border-bottom: 1px solid #dedede;
            color: #000;
        }
    }

    .card-md .item-md.item-block .item-inner {
        margin-left: 0px;
    }

    .list-md .item-block .item-inner, .item-md.item-block .item-inner {
        // border-bottom: none;
    }

    .list-md .item-md.item-block .item-inner { 
        // padding-right: 0px;
    }

    .item-md.item-block .item-inner {
        // padding-right: 0px;
    }

    ion-item .list-md .item-md {
        // padding: 0px;

        ion-label .label .label-md {
            // margin: 0px !important;
        }
    }

    ion-item .label-md {
        // margin: 0px !important;
    }

    ion-card {
        border-radius: 10px;
    }

    ion-icon {
        font-size: 34px; //Preferred size here
    }
}
